
<h2 style="margin-left:2%;">{{data.itemName}}</h2>
<mat-checkbox>Top-shelf?</mat-checkbox>
<mat-checkbox>Non-alcoholic?</mat-checkbox>
<mat-checkbox>Lite?</mat-checkbox>
<mat-checkbox>Double?</mat-checkbox>
<mat-checkbox>F*** This Thing Up with Alcohol</mat-checkbox>
<mat-form-field style="margin-left: 3%;margin-right: 3%;">
    <br>
    <mat-label>Special Instructions?</mat-label>
    <textarea matInput
                cdkTextareaAutosize
                placeholder="add any special instructions..."></textarea>
</mat-form-field>
  <footer style="vertical-align: bottom;">
  <div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button cdkFocusInitial>Ok</button>
  </div>
  </footer>
