<div class="menu-background">
<div style="text-align:center;">
  <h2>What are you looking for in a drink?</h2>
  <mat-button-toggle-group multiple="true" [(ngModel)]="selectedTags" #tagSelection="matButtonToggleGroup" appearance="legacy">
    @for (tag of getTags(); track tag) {
      <mat-button-toggle class="tag-selection-button" value=tag>{{tag}}</mat-button-toggle>
    }
  </mat-button-toggle-group>
  <button mat-button (click)="clearTagSelections()">&#10007; Clear Selections</button>
</div>
<div>
  <br>
<mat-card class="menu-section left-align">
    <mat-card-header class="menu-card">
      <mat-card-title>Classics</mat-card-title>
      <mat-card-subtitle>Tried and true favorites</mat-card-subtitle>
    </mat-card-header>
    <mat-list>
      @for (item of getClassicItems(); track item) {
        <app-menuitem [item]="item" (itemOrdered)="onAdded($event)"></app-menuitem>
      }
    </mat-list>
</mat-card>
</div>
<div>
<mat-card class="menu-section">
  <mat-card-header class="menu-card">
    <mat-card-title>Shots</mat-card-title>
    <mat-card-subtitle>EVERYBODY</mat-card-subtitle>
  </mat-card-header>
  <mat-list>
    @for (item of shots; track item) {
      <app-menuitem [item]="item" (itemOrdered)="onAdded($event)"></app-menuitem>
    }
  </mat-list>
</mat-card>
<br>
</div>
<mat-card class="menu-section">
  <mat-card-header class="menu-card">
    <mat-card-title>Specials</mat-card-title>
    <mat-card-subtitle>Looking for something exotic? Bougie?</mat-card-subtitle>
  </mat-card-header>
  <mat-list>
    @for (item of specialties; track item) {
      <app-menuitem [item]="item" (itemOrdered)="onAdded($event)"></app-menuitem>
    }
  </mat-list>
</mat-card>
<br>
<mat-card class="menu-section">
  <mat-card-header class="menu-card">
    <mat-card-title>Specialty Mocktails</mat-card-title>
    <mat-card-subtitle>Need something refreshing without the alcohol? We've got you covered.</mat-card-subtitle>
  </mat-card-header>
  <mat-list>
    @for (item of specialties; track item) {
      <app-menuitem [item]="item" (itemOrdered)="onAdded($event)"></app-menuitem>
    }
  </mat-list>
</mat-card>
</div>

