.menu-background {
  background:#99998B;
  height:100%;
}

.menu-section {
    width: 45vw;
    background-color: lightslategray;
    margin-left: 5%;
    margin-right:2%;
    border:2px;
    padding-bottom:1%;
    border-style: dashed;
}

.tag-selection-button {
    border-style:dotted;
    border-radius: 5%;
    border-width: 1px;
    border-color:black;
}

.menu-card {
  margin-bottom: 2%;
}

.left-align {
  float:left;
}
