.menu-background {
  background-color: #4d4d3dda;
  padding: 0 0;
  max-height: 500rem;
  background-size: cover;
}

.menu-section {
  width: 45vw;
  background-image: url("../../assets/img/border-wood-texture.png");
  margin: 0% 2% 0% 5%;
  padding-bottom: 1%;
  border: solid 0.25rem;
  box-shadow: 8px 8px 8px;
  border-radius: 20px;
}

.tag-selection-button {
  border: dotted 5% 1px black;
}

.menu-card {
  margin-bottom: 1%;
}

.menu-card-header {
  color: rgb(15, 139, 255);
  font: 3.5em "Dungeon", strong sans-serif;
  text-shadow: 4px 4px #4e0a0a;
}

.left-align {
  float: left;
}

mat-button-toggle-group {
  flex-wrap: wrap;
}

@media screen and (max-width: 896px) {
  .menu-section {
    width: 90vw;
  }
}
