.menu-background {
  background: #4d4d3dda;
  height: 100%;
}

.menu-section {
  width: 45vw;
  background-image: url("../../assets/img/border-wood-texture.png");
  margin: 0% 2% 0% 5%;
  padding-bottom: 1%;
  border: solid 0.25rem;
  box-shadow: 8px 8px 8px;
  border-radius: 20px;
}

.tag-selection-button {
  border: dotted 5% 1px black;
}

.menu-card {
  margin-bottom: 1%;
}

.left-align {
  float: left;
}
