<body>
  <section class="bounties-header">
    <p>Bounty Board</p>
  </section>
  <h3>You need coin, the realm needs certain irritants removed.</h3>

  <section id="bounty1" class="bounty">
    <section class="bounty-content">
      <p>Quick F*** Shot</p>
      <hr />
      <p>Coffee liqueur, hazelnut liqueur, Irish Cream</p>
    </section>
  </section>

  <section id="bounty2" class="bounty2" style="margin-left: 200px">
    <section class="bounty-content2">
      <p>Potion of Healing</p>
      <hr />
      <p>Vodka, tequila, strawberry syrup, a bunch of other ingredients</p>
    </section>
  </section>
  <section
    id="bounty3"
    class="bounty2"
    style="margin-left: -10%; margin-top: 300px"
  >
    <section class="bounty-content2">
      <p>Potion of Mana</p>
      <hr />
      <p>Vodka, rum, blue curacao</p>
    </section>
  </section>
</body>
