<!DOCTYPE html>
<section>
  <nav
    style="
      width: 80vw;
      background: radial-gradient(black, darkred);
      height: 3.8rem;
      display: flex;
    "
  >
    <ul style="display: inline-flex; padding-left: 10%; padding-top: 1%">
      <a routerLink="/menu" text="Cocktail Menu"
        ><strong>Cocktail Menu</strong></a
      >
      <a routerLink="bounties" style="padding-left: 40px"
        ><strong>Bounty Board</strong></a
      >
      <a routerLink="bounties" style="padding-left: 40px"
        ><strong>One-shots</strong></a
      >
      <a routerLink="bounties" style="padding-left: 40px"
        ><strong>Roll for drink!</strong></a
      >
      <a style="padding-left: 40px"><strong>About Us</strong></a>
    </ul>
  </nav>
</section>
