<!DOCTYPE html>
<section>
  <nav>
    <ul
      style="display: inline-flex; padding-left: 10%; padding-top: 1%"
      id="nav-ul"
    >
      <a routerLink="/menu"><strong>Cocktail Menu</strong></a>
      <a routerLink="bounties"><strong>Bounty Board</strong></a>
      <a routerLink="oneshot"><strong>One-shots</strong></a>
      <a routerLink="rollfordrink"><strong>Roll for drink!</strong></a>
      <a><strong>About Us</strong></a>
    </ul>
    <i
      class="bi bi-list hamburger-btn"
      id="hamburger"
      (click)="onHamburgerClick()"
      (keydown.control.enter)="onHamburgerClick()"
      role="button"
      tabindex="{0}"
      appDropdownClickOutside
      (clickOutside)="clickedOutside()"
    ></i>
  </nav>
</section>
