a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.hamburger-btn {
  background-color: transparent;
  border: 10;
  color: white;
  display: none;
  font-size: 1.75rem;
}

.hamburger-btn:focus {
  outline: none;
}

a {
  padding: 0 1.5rem 0 1.5rem;
}

nav {
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;
  width:68vw;
  background: radial-gradient(black, darkred);
  height: 3.8rem;
  display: flex;
}

#nav-ul {
  justify-content: space-around;
  display: flex;
}

#nav-ul.show {
  display: flex;
  visibility: visible;
  margin-top: 2rem;
  margin-right: 3rem;
  margin-left: 0rem;
  align-items: left;
  align-content: left;
  vertical-align: top;
}


@media screen and (min-width: 768px) {
  .nav-button {
    :hover {
      background: linear-gradient(black, slategray);
      padding: 20% 0px;
    }
  }
}

@media screen and (max-width: 768px) {
nav {
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 35vw;
  background: radial-gradient(black, darkred);
  height: 3.8rem;
  display: flex;
}

  #nav-ul {
    display: flex;
    background-color: black;
    visibility: collapse;
    flex-direction: column;
  }

  .hamburger-btn {
    display: flex;
    padding-left: 7.5rem;
    padding-top: 1rem;
    position: absolute;
  }

  a {
    padding: 0.5rem;
  }

  a:hover {
    background-color: rgba(245, 245, 245, 0.418);
  }
}
