.badge:after {
  content: attr(value);
  font-size: 1em;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 0 0.75em;
  position: relative;
  inset: -1em 0em 0em 0.25em;
  opacity: 0.9;
}

.logo-banner {
  height: 100%;
  width: 20%;
  background: radial-gradient(darkgreen, darkred);
  :hover {
    cursor: pointer;
  }

  .title-text {
    font: 3em "Dungeon", sans-serif;
    text-align: center;
    vertical-align: middle;
  }

  nav {
    vertical-align: middle;
  }

  .topbar-item {
    padding-left: 40px;
  }
}
