.badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 8px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}

.logo-banner {
  height: 100%;
  background-color: darkgreen;
  :hover {
    cursor:pointer;
  }
}
