.badge:after {
  content: attr(value);
  font-size: 1em;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 0 0.75em;
  position: relative;
  inset: -1em 0em 0em 0.25em;
  opacity: 0.9;
}

.logo-banner {
  height: 100%;
  width: 80vw;
  background: radial-gradient(darkgreen, darkred);
  :hover {
    cursor: pointer;
  }

  .title-text {
    font: 2.5em "Dungeon", sans-serif;
    text-align: center;
    width: 16rem;
    vertical-align: middle;
  }

  .topbar-item {
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .logo-banner {
    min-width: 30vw;
  }
}

@media screen and (max-width: 480px) {
  .title-text {
    visibility: collapse;
  }
}
