<div styple="float:left">
    <mat-card style="color:aquamarine;margin-left: 5%;padding-left:2%;width:90%;padding-bottom:1%;">
        <mat-card-title>{{ item.name }}</mat-card-title>
        <div>
            <mat-card-subtitle style="float:left;width:50%;text-wrap: wrap;">{{ item.description }}</mat-card-subtitle>
        <div style="padding-left:20vw;float:right">
            {{ item.price | currency:'USD':'symbol' }}
            <button mat-button (click)="decreaseQty()">-</button>
            <mat-form-field *ngIf="true" style="width:25%">
                <input matInput type="number" [(ngModel)]="this.quantity" min="0">
            </mat-form-field>
            <button mat-button (click)="increaseQty()">+</button>
            <button mat-button (click)="emitItemForCart()">Add</button>
        </div>
        </div>
    </mat-card>
</div>

