body {
  background: #4d4d3dda;
  height: 100%;
  background-image: url("../../../assets/img/dnd-tavern-bg.jpg");
  background-size: cover;
  overflow: hidden;
  height: 95vh;
  border: 5px solid rgb(122, 47, 47);
  color: whitesmoke;
}

.heading-text {
  padding: 0 5%;
}
