body {
  background: #4d4d3dda url("../../../assets/img/dnd-tavern-bg.jpg") no-repeat center / 100vw 100vh;
  overflow: hidden;
  border: 5px solid rgb(122, 47, 47);
  color: whitesmoke;
}

.heading-text {
  padding: 0 5%;
}
