<body>
  <section class="bounties-header"></section>
  <app-bounty
    [product]="bounties[0]"
    (bountyTaken)="onAdded($event)"
  ></app-bounty>

  <section style="margin-left: 200px">
    <app-bounty
      [product]="bounties[1]"
      (bountyTaken)="onAdded($event)"
      style="transform: translateX(900px); margin-top: 100px"
    ></app-bounty>
  </section>

  <section id="bounty2" class="bounty">
    <section class="bounty-content">
      <p>Potion of Healing</p>
      <hr />
      <p>Vodka, tequila, strawberry syrup, a bunch of other ingredients</p>
    </section>
  </section>
  <section
    id="bounty3"
    class="bounty2"
    style="margin-left: -10%; margin-top: 300px"
  >
    <section class="bounty-content2">
      <p>Potion of Mana</p>
      <hr />
      <p>Vodka, rum, blue curacao</p>
    </section>
  </section>
</body>
